h1 {
  color: #D04F4F;
  font-family: "DM Sans", sans-serif;
}

#search-bar {
  background-color: #E7E7E7;
  border: 0;
  height: 50px;
}

.search-box {
  position: relative;
}
.search-box i {
  position: absolute;
  top: 13px;
  right: 30px;
  font-size: 25px;
}

.categories {
  display: flex;
  height: 100px;
  position: inherit;
  z-index: 10;
}
.categories #ingredients {
  width: fit-content;
  position: relative;
  margin-right: 20px;
}
.categories #ingredients i {
  position: absolute;
  right: 20px;
  font-size: 15px;
  color: white;
  top: 45px;
  transition: transform 1s;
}
.categories #ingredients input:focus-visible {
  outline: none;
}
.categories #ingredients:focus-within .list {
  display: flex;
}
.categories #ingredients:focus-within i {
  transform: rotateX(180deg);
}
.categories #ingredients .searchbar-tags {
  background-color: #3282F7;
  border: 0;
  border-radius: 5px;
  height: 60px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: 600;
}
.categories #ingredients .searchbar-tags::placeholder {
  color: white;
  opacity: 1;
}
.categories #ingredients .searchbar-tags:focus {
  border-radius: 5px 5px 0 0;
}
.categories #ingredients .searchbar-tags:focus::placeholder {
  opacity: 0.5;
}
.categories #ingredients .list {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3282F7;
  border-radius: 0 0 5px 5px;
  max-width: 600px;
  padding-bottom: 20px;
}
.categories #ingredients .list:hover, .categories #ingredients .list:focus, .categories #ingredients .list:focus-within {
  display: flex;
}
.categories #ingredients .list a {
  color: rgb(219, 219, 219);
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  height: 23px;
}
.categories #ingredients .list a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.categories #appliances {
  width: fit-content;
  position: relative;
  margin-right: 20px;
}
.categories #appliances i {
  position: absolute;
  right: 20px;
  font-size: 15px;
  color: white;
  top: 45px;
  transition: transform 1s;
}
.categories #appliances input:focus-visible {
  outline: none;
}
.categories #appliances:focus-within .list {
  display: flex;
}
.categories #appliances:focus-within i {
  transform: rotateX(180deg);
}
.categories #appliances .searchbar-tags {
  background-color: #68D9A4;
  border: 0;
  border-radius: 5px;
  height: 60px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: 600;
}
.categories #appliances .searchbar-tags::placeholder {
  color: white;
  opacity: 1;
}
.categories #appliances .searchbar-tags:focus {
  border-radius: 5px 5px 0 0;
}
.categories #appliances .searchbar-tags:focus::placeholder {
  opacity: 0.5;
}
.categories #appliances .list {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #68D9A4;
  border-radius: 0 0 5px 5px;
  max-width: 600px;
  padding-bottom: 20px;
}
.categories #appliances .list:hover, .categories #appliances .list:focus, .categories #appliances .list:focus-within {
  display: flex;
}
.categories #appliances .list a {
  color: rgb(219, 219, 219);
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  height: 23px;
}
.categories #appliances .list a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.categories #ustensils {
  width: fit-content;
  position: relative;
  margin-right: 20px;
}
.categories #ustensils i {
  position: absolute;
  right: 20px;
  font-size: 15px;
  color: white;
  top: 45px;
  transition: transform 1s;
}
.categories #ustensils input:focus-visible {
  outline: none;
}
.categories #ustensils:focus-within .list {
  display: flex;
}
.categories #ustensils:focus-within i {
  transform: rotateX(180deg);
}
.categories #ustensils .searchbar-tags {
  background-color: #ED6454;
  border: 0;
  border-radius: 5px;
  height: 60px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  color: white;
  font-weight: 600;
}
.categories #ustensils .searchbar-tags::placeholder {
  color: white;
  opacity: 1;
}
.categories #ustensils .searchbar-tags:focus {
  border-radius: 5px 5px 0 0;
}
.categories #ustensils .searchbar-tags:focus::placeholder {
  opacity: 0.5;
}
.categories #ustensils .list {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ED6454;
  border-radius: 0 0 5px 5px;
  max-width: 600px;
  padding-bottom: 20px;
}
.categories #ustensils .list:hover, .categories #ustensils .list:focus, .categories #ustensils .list:focus-within {
  display: flex;
}
.categories #ustensils .list a {
  color: rgb(219, 219, 219);
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  height: 23px;
}
.categories #ustensils .list a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

#tags {
  display: flex;
  flex-wrap: wrap-reverse;
}
#tags .ustensil_tag {
  background-color: #ED6454;
}
#tags .ingredient_tag {
  background-color: #3282F7;
}
#tags .appliance_tag {
  background-color: #68D9A4;
}
#tags a {
  position: relative;
  border-radius: 5px;
  color: white;
  padding: 8px 45px 10px 10px;
  font-size: 13px;
  margin-right: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}
#tags a i {
  position: absolute;
  right: 10px;
  font-size: 15px;
  top: 10px;
}
#tags a i:hover {
  cursor: pointer;
}

#recipes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#recipes .recipe-card {
  width: 380px;
  height: 380px;
  background-color: #C7BEBE;
  margin-top: 50px;
  position: relative;
  border-radius: 5px;
}
#recipes .recipe-card .details {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #E7E7E7;
  border-radius: 5px;
}
#recipes .recipe-card .details .title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#recipes .recipe-card .details .time {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  font-weight: 600;
}
#recipes .recipe-card .details .ingredient {
  position: absolute;
  top: 60px;
  left: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  width: 43%;
}
#recipes .recipe-card .details .ingredient li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#recipes .recipe-card .details .ingredient span {
  font-weight: 600;
}
#recipes .recipe-card .details .desc {
  position: absolute;
  top: 60px;
  right: 15px;
  max-width: 45%;
  overflow: hidden;
  font-size: 13px;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-height: 15px;
}

/*# sourceMappingURL=style.css.map */
