@import "./mixins";

h1 {
    color: #D04F4F;
    font-family: 'DM Sans', sans-serif;
}

#search-bar {
    background-color: #E7E7E7;
    border: 0;
    height: 50px;
}

.search-box {
    position: relative;

    i {
    position: absolute;
    top: 13px;
    right: 30px;
    font-size: 25px;
    }
}

.categories {
    display: flex;
    #ingredients {
        @include tag_categorie(#3282F7); 
    }
    #appliances {
        @include tag_categorie(#68D9A4); 
    }
    #ustensils {
        @include tag_categorie(#ED6454); 
    }
}


#tags {
    display: flex;
    flex-wrap: wrap-reverse;
    .ustensils_tag {
        background-color: #ED6454;
    }
    .ingredients_tag {
        background-color: #3282F7;
    }
    .appliances_tag {
        background-color: #68D9A4;
    }
    a {
        position: relative;
        border-radius: 5px;
        color: white;
        padding: 8px 45px 10px 10px;
        font-size: 13px;
        margin-right: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-decoration: none;

        i {
            position: absolute;
            right: 10px;
            font-size: 15px;
            top: 10px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#recipes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .recipe-card {
        width: 380px;
        height: 380px;
        background-color: #C7BEBE;
        margin-top: 50px;
        position: relative;
        border-radius: 5px;

        .details {
            height: 50%;
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: #E7E7E7;
            border-radius: 5px;

            .title {
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .time {
                position: absolute;
                right: 15px;
                top: 15px;
                font-size: 20px;
                font-weight: 700;
            }

            .ingredient {
                position: absolute;
                top: 60px;
                left: 15px;
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
            }

            .desc {
                position: absolute;
                top: 60px;
                right: 15px;
                max-width: 45%;
                max-height: 70%;
                overflow: hidden;
                font-size: 13px;

            }
        }
    }

}